<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Closa Mimosa</title>

 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Almendra+Display' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" %>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Closa Mimosa", root_url, :class => "navbar-brand" %>
      <!--Original code<%= link_to Rails.application.class.parent_name, root_url, :class => "navbar-brand" %>-->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= link_to "MimoMe", mimome_path, class:"navbar-brand" %>
        <!--<%= link_to "Welcome", root_path, class:"navbar-brand"%>-->
        <%= link_to "About", about_path, class:"navbar-brand" %>
        <%= link_to "Contact", contact_path, class:"navbar-brand" %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<%= yield %>

</body>
</html>
